# ========================
# Java
# ========================
*.class
hs_err_pid*
replay_pid*

# ========================
# Python
# ========================
__pycache__/
*.py[cod]
*.pyo
.venv/
venv/

# ========================
# IDEs
# ========================
.idea/
.vscode/
*.iml

# ========================
# OS
# ========================
.DS_Store
Thumbs.db
